<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17704651840-t771mcqdgb16avpg6iimgsp5i2dgcc0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17704651840-t771mcqdgb16avpg6iimgsp5i2dgcc0c</string>
	<key>API_KEY</key>
	<string>AIzaSyBd78iWAMcVfQh2AkFROB-nJSc8_9zIgJc</string>
	<key>GCM_SENDER_ID</key>
	<string>17704651840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivshah.TikTokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktokclone-7a62b</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclone-7a62b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17704651840:ios:12ba6d1f8398371eace3a5</string>
</dict>
</plist>