

/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.wrapper{
  border: 10px;
  border-color: #CD5C5C;
    text-align: center;
    position: relative;
  max-width: 500px;
  height: 450px;
  background: #fff;
  border-radius: 7px;
  padding: 2px 10px 1px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  top: 145px;
  left: 900px;
  
}

.mcq {
  margin-top: 50px;
  margin-left: 20px;
  position: relative;
  }
  #generateMCQsButton {
  position: relative;
  padding: 10px 30px;
  font-size: 16px;
  left: center;
  cursor: pointer;
  transition: transform 0.3s ease; /* Adding smooth transition */
  background-color: #CD5C5C;
  }
  #generateMCQsButton:hover {
  transform: scale(1.1); /* Scale button on hover */
  }



.option1 {
  padding: 10px;
  margin: 5px;
  width: 60%;
  cursor: pointer;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark text color */
}

.option1:hover {
  background-color: #e0e0e0; /* Light gray background on hover */
  color: #000;
}

.correct {
  background-color: #7ebf7e; /* Light green background for correct answer */
  color: #fff; /* White text color for correct answer */
  }
  .wrong {
  background-color: #ff9999; /* Light red background for wrong answer */
  color: #fff; /* White text color for wrong answer */
  }

header h1{
  border: 10px;
  font-size: 20px;
  font-weight: 400;
}
header p{
  border: 10px;
  margin-top: 5px;
  font-size: 18px;
  color: #474747;
}
form{
  border: 10px;
  margin: 20px 0 27px;
}
form input{
  
  width: 90%;
  height: 40px;
  outline: none;
  padding: 0 17px;
  font-size: 19px;
  border-radius: 5px;
  border: 1px solid #b3b2b2;
  transition: 0.1s ease;
}
form input::placeholder{
  color: #b3b2b2;
}
form input:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
form button{
    position: relative;
    left: 34%;
  width: 30%;
  border:none;
  
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  margin-top: 20px;
  padding: 15px 13px;
  border-radius: 5px;
  pointer-events: none;
  background: #CD5C5C;

 
}
form input:valid ~ button{
  opacity: 1;
  pointer-events: auto;
}


.wrapper1 {
  border: 3px dotted rgb(195, 32, 32);
  padding: 15px;
  width: 35%;
  height: 20%;
  position: relative;
  left: 10%;
  top: 20%;
  text-align: center;


}

.button-container {
  display: flex;
  align-items: center;
}

#uploadButton1 {
  position: relative;
  left: 35%;
  text-align: center;
  width: 30%;
  height: 50px;
  background-color: #CD5C5C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
}

#uploadButton1:hover {
  background-color: #df808d;
}

#loading-spinner {
  position: absolute;
  margin-left: 10px; /* Adjust margin as needed */
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  left: 45%;
  z-index: 0;
}



.wrapper2 {
  border: 3px dotted rgb(195, 32, 32);
  padding: 15px;
  width: 35%;
  height: 20%;
  position: relative;
  top: -4%;
  left: 50%;
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
}

#uploadButton2 {
  position: relative;
  left: 35%;
  text-align: center;
  width: 30%;
  height: 50px;
  background-color: #CD5C5C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;

}

#uploadButton2:hover {
  background-color: #df808d;
}


header h1{
  font-size: 20px;
  font-weight: 400;
}
header p{
  margin-top: 5px;
  font-size: 18px;
  color: #474747;
}
form{
  margin: 20px 0 27px;
}
form input{
  width: 90%;
  height: 40px;
  outline: none;
  padding: 0 17px;
  font-size: 19px;
  border-radius: 5px;
  border: 1px solid #b3b2b2;
  transition: 0.1s ease;
}
form input::placeholder{
  color: #b3b2b2;
}
form input:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

 

form input:valid ~ button{
  opacity: 1;
  pointer-events: auto;
}








